<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>


    <group ns="sketch_follower">
        <rosparam command="load" file='$(find sketch_follower)/robot_control/config/control.yaml'/>
        <param name="robot_description" command="xacro $(find sketch_follower)/robot_description/urdf/robot_arm.urdf.xacro" />

        <node pkg="gazebo_ros" name="spawn_urdf" type="spawn_model" args="-urdf -model robot_arm -param robot_description"/>

        <node name='controller_spawner' pkg='controller_manager' type='spawner' respawn='false' output='screen'
            args='joint_state_controller joint_0_effort_controller joint_1_effort_controller joint_2_effort_controller' />

        <node name='robot_state_publisher' pkg='robot_state_publisher' type='robot_state_publisher' respawn='false' output='screen' />

        <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

        <node name="cursor_publisher" pkg="sketch_follower" type="cursor_publisher.py" output="screen"/>
    </group>


</launch>