<?xml version="1.0"?>
<launch>

    <param name="robot_description" command="xacro $(find sketch_follower)/robot_description/urdf/robot_arm.urdf.xacro" />
    <rosparam command="load" file='$(find sketch_follower)/robot_control/config/control.yaml'/>

    <node name='robot_state_publisher' pkg='robot_state_publisher' type='robot_state_publisher' respawn='false' output='screen'>
        <remap from='/joint_states' to='/robot_arm/joint_states' />
    </node>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <node pkg="gazebo_ros" name="spawning_urdf" type="spawn_model" args="-urdf -model robot_arm -param robot_description"/>

    <node name='controller_spawner' pkg='controller_manager' type='spawner' respawn='false' output='screen' ns='/robot_arm'
        args='joint_state_controller link_0_position_controller link_1_position_controller link_2_position_controller' />
    
</launch>